[submodule "tensorRTWrapper"]
	path = tensorRTWrapper
	url = https://github.com/prajwaljpj/tensorRTWrapper
[submodule "deep_sort"]
	path = deep_sort
	url = https://github.com/prajwaljpj/deep_sort
[submodule "pytorch-pose"]
	path = pytorch-pose
	url = https://github.com/prajwaljpj/pytorch-pose
